[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
requests = "*"
scikit-learn = "*"
st-dbscan = "*"

[dev-packages]

[requires]
python_version = "3.11"
